@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic);

html {
    font-family: 'Helvetica Neue', sans-serif;
}

.brand-logo {
    font-weight: lighter;
}

@media only screen and (max-width : 600px) {
    .brand-logo {
        margin-top: 32px;
    }
}

.btn-hire {
    margin-top: 11px;
    border: 1px solid black;
    border-radius: 0;
}
    
    .btn-hire:hover {
        color: white !important;
        background-color: black !important;
    }

.fixed-action-btn {
    right: 0 !important;
}

.btn-hire-mobile {
    width: 100%;
    border-radius: 0;
    height: 48px;
    line-height: 48px;
    text-transform: none;
}

.playfair {
    font-family: 'playfair display', 'georgia', serif;
}

.top-message {
    font-family: 'playfair display', 'georgia', serif;
    font-style: italic;
    font-size: 1.1em;
}

@media only screen and (min-width : 993px) {
  .container {
    width: 80%; }
}

nav {
    background-color: white;
}

.feat-text {
    height: 180px;
}

.feat-image {
    height: 400px;
}

.feat-image, .feat-text {
    overflow: hidden;
    background: no-repeat 0% 0%;
    background-size:cover;
    background-position: center;
}

.feat-text .flow-text {
    font-size: 2em;
    line-height: 1em;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 20px;
}

.secondary-images {
    height: 200px;
    overflow: hidden;
    background: no-repeat 0% 0%;
    background-size:cover;
    background-position: center;
}

.card-content {
        padding-left: 0 !important;
    }

.card-title {
    line-height: 24px !important;
}

.card-title .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

    .title-big {
        font-size: 2em !important;
        line-height: 1.4em;
    }

@media only screen and (min-width : 993px) {
    .flow-text {
        font-size: 16px;   
    }
}

@media only screen and (max-width : 600px) {
    
    .feat-image, .feat-text {
        height: 200px;
    }
    
    .secondary-images {
        height: 100px;
    }
    
    .card-content {
        padding-left: 0 !important;
    }
    
    .card-title .title {
        font-size: 28px !important;
        line-height: 31px !important;
    }
    
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #eee;
}




























